.ng-invalid.ng-dirty{
            border-color: red;
            }
            .ng-valid.ng-dirty{
            border-color: green;
            }
            
header{
border: 1px solid black;
margin: 0 auto;
padding: 10px;
background: #e0e2e6 ;

}

.magic{
padding: 3px;
}